@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TikTokSans';
  src: url('/fonts/TikTokSans-VariableFont_opsz_slnt_wdth_wght.ttf');
  font-weight: 100 900;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
